<!DOCTYPE html>
<html>
 <head>
   <title>!DOCTYPE</title>
   <meta charset="utf-8">
 </head>
 <body>
  <h1>Котофей Cемен!</h1>
  <img src="https://i.insider.com/61d1c0e2aa741500193b2d18?width=1136&format=jpeg" style="width:300px">
  <p><strong>Привет! Я - <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wiktionary.org%2Fwiki%2Fcat&psig=AOvVaw2_7bSdJLuUN3hSM8N5mrLi&ust=1674661655567000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKDTyfrG4PwCFQAAAAAdAAAAABAD">кот-обормот</a>, а это моя страничка!</strong></p>
  <p>На ней я буду публиковать <del>свои стихи и рассказы</del> свой код и ссылки на GitHub.</p>
  <p>Еще тут Вы сможете найти мои рисунки, которыя я иногда делаю.</p>
  <p>Скажу <u>сразу</u>, рисунки у меня <i>так себе</i>, <mark>потому что у меня лапки.</mark></p>
 </body>
</html>